.poo {
  color:brown;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	background-image: url(./images/1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section {
  text-align: center;
  background-color: lightgoldenrodyellow;
  width: 20%;
  opacity: 0.7;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section h2 {
  color: black;
  font-size: 24px;
  font-family: monospace;
}
section p {
  color: darkgreen;
  font-size: 20px;
}

.container {
  text-align: center;
}
.row {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
	margin-top: 20px;
}

.buttons {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	margin-top: 20px;
}

.buttons button {
  width: 40%;
	height: 50px;
	border-style: none;
	background-color: rgb(0, 153, 51);
	font-size: 20px;
  font-family: monospace;
  color: white;
}

.buttons button:hover {
  background-color: yellow;
  color: black;
}

.row .reset {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(204, 0, 0);
  color: white;
}

.row .reset:hover {
  color: black;
  font-weight: bold;
}

footer {
  margin-top: 70px;
  align-items: center;
  margin-bottom: 0;
}
footer #profile h2 {
  color: aliceblue;
  font-family: monospace;
  font-size: 1.5em;
}

#profile {
	width: 100%;
  display: flex;
  justify-content: space-evenly;
}


#profile img {
	border-radius: 50%;
	height: 100px;
	border-style: hidden;
	border: 2px solid red;
	opacity: 1;
	transition: .1s ease;
	backface-visibility: hidden;
}
 #profile div a img:hover {
    cursor: pointer;
    transform: scale(1.5);
    
}



